body {
    background-color: rgb(239, 190, 248);
}

h1 {
    color: rgb(83, 152, 241);
    font: bold 40px Tahoma, sans-serif;
}

.highlight {
    color: blue;
}

#header {
    background: rgb(220, 218, 218);
}

.table-border {
    border: 3px solid black;
}

.background-color {
    background-color: rgb(227, 227, 227);
}

p:hover {
    color: red;
    background-color: #ffe5e5;
    cursor: pointer;
}

.text-align_center {
    text-align: center;
}

input[type="text"]:focus {
    border-color: rgb(255, 0, 128);
    outline: none;
    background-color: #fff0fa;
}