body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:"header aside";
    padding: 0px;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: rgb(62, 140, 230);
    color: white; line-height: 50px; font-size: 24px; padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.aside {
    grid-area: aside;
    background-color: #dcdddd;
    color: black; line-height: 50px; font-size: 24px; padding-left: 20px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "aside";
        }
    }